@{
    ViewData["Title"] = "歷屆選課列表";
}

<div class="d-flex justify-content-center align-items-center" style="height: 20vh;">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="d-grid gap-4 col-4 mx-auto" style="max-width: 600px;height: 100px;">
    <button type="button" class="btn btn-danger btn-lg">113 上學期</button>
    <button type="button" class="btn btn-success btn-lg">113 下學期</button>
    <button type="button" class="btn btn-danger btn-lg">112 上學期</button>
    <button type ="button" class="btn btn-success btn-lg">112 下學期</button>
</div>